# Variables de entorno
.env
.env.*

# Entornos virtuales de Python
venv/
.venv/
env/

# Caché de Python
__pycache__/
*.py[cod]

# Archivos de configuración de VS Code
.vscode/

# Archivos generados
*.log